body{
  font-family: 'Open Sans', sans-serif;
}

.pole {
  background-color: #000;
  float: left;
  transform: translateY(-50px);
  opacity: 0;
}

.pole:hover {
  background-color: #fff;
  cursor: crosshair;
}

.poklad {
  background-color: red;
}

.pole.animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.clear {
  clear: both;
}

.gameArea {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.kompas {
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.kompasDiv{ 
    width: 200px;
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    display: block;
}


.kompasSmer {
  width: 150px;
  height: auto;
  position: absolute;
  top: 30%;
  left: 13%;
  transform: translate(-50%, -50%);
}

.done{
  display: none;
  width: auto;
  height: auto;
  background-color: burlywood;
  border: 5px solid brown;
  color: black;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 1em;
}

