body{
  font-family: 'Open Sans', sans-serif;
  background-image: url("../files/pirateBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.pole {
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  transform: translateY(-50px);
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pole:hover {
  background-color: transparent;
  cursor: crosshair;
}


.pole.animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.clear {
  clear: both;
}

.gameArea {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kompas {
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.kompasDiv{ 
    width: 200px;
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    display: block;
    margin: 1em;
}


.kompasSmer {
  width: 150px;
  height: auto;
  position: absolute;
  top: 30%;
  left: 13%;
  transform: translate(-50%, -50%);
  animation: spin;
  animation-duration: 2s;
}

.done{
  display: none;
  width: auto;
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 1em;
  border-radius: 10px;
}

.done button{
  background-color: white;
  color: black;
  border: none;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.done a {
  color: black;
  text-decoration: none;
}

form {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  }
  
  label {
  display: block;
  margin-bottom: 10px;
  }
  
  input[type="number"] {
  border: none;
  background-color: #fff;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  }
  
  input[type="submit"] {
  border: none;
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  }

.Matav1{
  width: 20%;
  position: fixed;
  bottom: 0;
  right: 0;
}

video {
  width: 50%;
  height: 50%;
  object-fit: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  
}

